.flow h1,
.alpha {
	font-size: 2em;
	margin-bottom: 14px;
}

.flow h2,
.beta {
	font-size: 1.7em;
	margin-bottom: 13px;
}

.flow h3,
.gamma {
	font-size: 1.5em;
	margin-bottom: 12px;
}

.flow h4,
.delta {
	font-size: 1.25em;
	margin-bottom: 10px;
}

.flow h5,
.epsilon {
	font-size: 1.25em;
	margin-bottom: 10px;
}

.flow p {
	margin-bottom: 10px;
}

.flow ul,
.flow ol {
	margin-bottom: 10px;
	padding-left: 40px;
}

.flow li {
	margin-bottom: 10px;
}